body{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background: #34495e;
}

.box{
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #191919;
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}


.box input[type = "text"]{
    border: 0;
    background: none;
/*    display: block;*/
/*    margin: 5px auto;*/
    text-align: center;
    border: 2px solid #3498db;
    padding: 15px 10px;
    width: 30px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
/*    width: 280px;*/
    border-color: #2ecc71;
}

.box input[type = "button"], input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}


.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 30px auto;
    text-align: center;
    border: 2px solid #2ecc71;
/*    padding: 14px 40px;*/
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    width: 60px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:  ;
}

.box section{
    display: flex;
}
.box .leftpanel{
/*    border: 1px solid red;*/
    width: 50%;
}

.box .rightpanel{
    border:  2px solid #2ecc71;
    width: 50%;
    color: white;
}
.box section .rightpanel p{
    color: white;
}
